.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 7px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeIn 2s 2s forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 38px;
    font-size: 13px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 38px;
    font-size: 13px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #ffd700;
    background: 0 0;
    font-size: 12px;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ffd700;
    float: right;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    font-family: sans-serif;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}

.info-map {
  position: absolute;
  background-color: black;
  top: -40px;
  right: 0px;
  z-index: 999999;
  width: 193px;
  padding: 20px;
  color: white;
  font-family: 'Helvetica';
  font-size: 13px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s forwards;

  span {
    font-size: 13px;
    display: block;
    padding-top: 20px;
    color: #ffd700;
  }
}

@media (min-width: 100px) and (max-width: 800px) {
  .contactDesign {
    visibility: hidden;
  }
  .info-map {
    top: 5px;
    right: 0px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .contactDesign {
    font-size: 110px;
    font-family: 'Bebas Neue';
    color: #ffd700;
    right: 50px;
    margin-right: 0px;
    margin-top: 20px;
    position: absolute;
    word-spacing: 25px;
    top: -700px;
    text-shadow: 6px 6px #732d2d;
    line-height: 130px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .contactDesign {
    font-size: 165px;
    font-family: 'Bebas Neue';
    color: #ffd700;
    right: 50px;
    margin-right: 0px;
    margin-top: 20px;
    position: absolute;
    word-spacing: 25px;
    top: -730px;
    text-shadow: 6px 6px #732d2d;
    line-height: 190px;
  }
}

@media (min-width: 1440px) and (max-width: 1800px) {
  .contactDesign {
    font-size: 165px;
    font-family: 'Bebas Neue';
    color: #ffd700;
    right: 50px;
    margin-right: 30px;
    margin-top: 60px;
    position: absolute;
    word-spacing: 25px;
    top: -730px;
    text-shadow: 6px 6px #732d2d;
    line-height: 190px;
  }
}

@media (min-width: 1800px) {
  .contactDesign {
    font-size: 165px;
    font-family: 'Bebas Neue';
    color: #ffd700;
    right: 50px;
    margin-right: 140px;
    margin-top: 100px;
    position: absolute;
    word-spacing: 25px;
    top: -730px;
    text-shadow: 6px 6px #732d2d;
    line-height: 190px;
  }
}
