@media (min-width: 900px) {
  .nav-bar {
    background: black;
    width: 55px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo {
      display: block;
      padding: 8px 0;

      img {
        display: block;
        margin: 8px auto;
        width: 44px;
        height: auto;

        &.sub-logo {
          width: 52px;
        }
      }
    }

    nav {
      display: block;
      text-align: center;
      position: absolute;
      height: 157.5px;
      top: 50%;
      margin-top: -120px;
      width: 100%;

      a {
        font-size: 16.5px;
        color: #4d4d4e;
        display: block;
        line-height: 38px;
        height: 38px;
        position: relative;
        text-decoration: none;

        i {
          transition: all 0.3s ease-out;
        }

        &:hover {
          color: #ffd700;

          svg {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }
        }

        &::after {
          content: '';
          font-size: 7px;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          transition: all 0.3s ease-out;
        }

        &:first-child {
          &::after {
            content: 'HOME';
          }
        }
      }

      a.about-link {
        &::after {
          content: 'ABOUT';
        }
      }

      a.contact-link {
        &::after {
          content: 'CONTACT';
        }
      }

      a.portfolio-link {
        &::after {
          content: 'PORTFOLIO';
        }
      }

      a.active {
        svg {
          color: #ffd700;
        }
      }
    }

    ul {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: block;
      padding: 0;
      list-style: none;
      text-align: center;
      margin: 0;

      li {
        a {
          padding: 7px 0;
          display: block;
          font-size: 15px;
          line-height: 16px;

          &:hover svg {
            color: #ffd700;
          }
        }
      }
    }
  }
}

@media (min-width: 100px) and (max-width: 900px) {
  .nav-bar {
    background: black;
    width: 100%;
    height: 65px;
    position: absolute;
    left: 0;
    z-index: 3;
    min-width: 500px;

    .logo {
      display: block;
      padding: 8px 0;

      img {
        display: block;
        margin: auto 8px;
        width: 54px;
        height: auto;

        &.sub-logo {
          width: 52px;
          margin-top: 10px;
        }
      }
    }

    ul {
      position: absolute;
      left: 75%;
      width: 100%;
      display: flex;
      top: 30px;
      list-style: none;
      margin: 0;

      li {
        a {
          padding: 0px 7px;
          display: block;
          font-size: 15px;
          line-height: 0px;

          &:hover svg {
            color: #ffd700;
          }
        }
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: absolute;
    height: 157.5px;
    left: 30%;
    margin-top: -60px;
    width: 100%;

    a {
      font-size: 30px;
      color: #4d4d4e;
      display: block;
      margin-left: 30px;
      line-height: 38px;
      height: 38px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: '';
        font-size: 7px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &::after {
        content: 'ABOUT';
      }
    }

    a.contact-link {
      &::after {
        content: 'CONTACT';
      }
    }

    a.portfolio-link {
      &::after {
        content: 'PORTFOLIO';
      }
    }

    a.active {
      svg {
        color: #ffd700;
      }
    }
  }
}
